version: "3.4"

services:
  goci:
    image: pedromol/goci
    container_name: goci
    environment:
      - INSTANCE_SHAPE=
      - INSTANCE_NAME=
      - INSTANCE_IMAGE=
      - INSTANCE_SUBNET=
      - INSTANCE_AD=
      - INSTANCE_COMPARTMENT=
      - INSTANCE_SSHAUTHORIZED=
      - VNIC_DISPLAY_NAME=
      - VNIC_HOSTNAME=
      - USER=
      - FINGERPRINT=
      - PRIVATE_KEY=
      - TENANCY=
      - REGION=
    restart: unless-stopped